# ==============================================================================
# Homer Bird • Configuración de Entorno (Plantilla de Ejemplo)
# ==============================================================================

NODE_ENV=development
SERVER_PORT=3001
VITE_API_URL=/api
ANTI_CHEAT_ENABLED=true
MAX_PLAYERS_PER_ROOM=20
STORAGE_DRIVER=json
DATA_DIRECTORY=./data
